<div class="column is-one-quarter">
  <div class="box forecast-box has-text-centered">

    <div class="forecast-day">{{ day.day }}</div>

    {% set weather = day.weather %}
    {% include "components/weather-icon.njk" %}

    <p>{{ day.weather }}</p>
    <p><strong>{{ day.temp }}°C</strong></p>

  </div>
</div>

<!-- modular component. pulling the relevant info for the individual city today summary from the JSON -->