{% set icons = {
  "cloudy": "/aimsir-weather-site/images/icon-cloudy.png",
  "lightrain": "/aimsir-weather-site/images/icon-lightrain.png",
  "showers": "/aimsir-weather-site/images/icon-showers.png",
  "sunnyspells": "/aimsir-weather-site/images/icon-sunnyspells.png",
  "windy": "/aimsir-weather-site/images/icon-windy.png",
  "overcast": "/aimsir-weather-site/images/icon-overcast.png",
  "clear": "/aimsir-weather-site/images/icon-clear.png"
} %}

{% set key = weather | lower | replace(" ", "") %}
{% set iconPath = icons[key] or "/images/icon-default.png" %}

<img 
  src="{{ iconPath }}" 
  alt="{{ weather }} icon" 
  class="weather-icon"
>

